/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffb200;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}
.pai {
  width: 50%;
  height: 80%;
  margin: auto;
  padding-top: 0;
  box-shadow: 8px -8px 7px #10101080;
}

p {
  width: calc(50% - 2px);
  height: 50%;
  display: inline-block;
  text-align: center;
  line-height: 100%;
  font-weight: bold;
  margin: 0;
  font-size: 50px;
  text-transform: uppercase;
  padding-top: 15%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

.conteudo-1 {
  background-color: blue;
}
.conteudo-2 {
  background-color: red;
}
.conteudo-3 {
  background-color: green;
}
.conteudo-4 {
  background-color: purple;
}
