* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

header {
  background-color: #555;
  display: flex;
  color: #fff;
  justify-content: space-between;
  height: 70px;
}

h1 {
  width: 70%;
  padding-left: 20px;
  line-height: 70px;
  color: #ffb200;
}

nav {
  background-color: #ffb200;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
  justify-content: space-around;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #101010;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  header {
    height: auto;
  }
  h1 {
    display: none;
    flex-shrink: 2;
  }

  nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    gap: 0;
    padding: 0;
  }

  a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #555;

    color: #ffb200;
    border-bottom: 1px solid #999999;
  }
}
