* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #555;
  color: white;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.filho-1 {
  width: 100%;
  background-color: #ccc;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

button {
  width: 350px;
  padding: 10px 25px;
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 2px 2px 5px #55555590;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(166, 82, 82);
  color: white;
  letter-spacing: 2px;
  font-size: 16px;
  flex-shrink: 1;
}

.btn-2 {
  flex-shrink: 2;
}
.btn-3 {
  flex-grow: 2;
}

p {
  width: fit-content;
  background-color: rgb(176, 86, 71);
  padding: 50px 100px;
  font-size: 50px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px #00000080;
}

.rebelde {
  align-self: flex-start;
}
